.tab-element {
    min-width: 5rem;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    padding: .8rem 0;
    position: relative;
    opacity: .35;
}

.tab-element .close {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    font-size: 14px;
    cursor: inherit;
}

.tab-element:hover {
    opacity: 1;
}

.tab-element:hover > .close {
    display: block;
}

.tab-element.active {
    border-bottom: 2px solid darkblue;
    opacity: 1;
}